on fs
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/f0_save
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8624_haptic/2-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/aw8624_haptic/2-005a/custom_wave

service vibratorfeature-hal-service /system/bin/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user root
    group root input audio
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0
